@page "/financeiro"

@using AnunciadorV1.Services
@inject IJSRuntime JS
@inject FirestoreService FirestoreService

<h3>Cadastro de Anunciante</h3>

<EditForm Model="@novoAnunciante" OnValidSubmit="@Cadastrar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Nome:</label>
        <InputText @bind-Value="novoAnunciante.nome" class="form-control" />
    </div>

    <div>
        <label>Título:</label>
        <InputText @bind-Value="novoAnunciante.titulo" class="form-control" />
    </div>

    <div>
        <label>Endereco da Foto:</label>
        <InputText @bind-Value="novoAnunciante.descricao" class="form-control" />
    </div>

    <div>
        <label>Endereço:</label>
        <InputText @bind-Value="novoAnunciante.endereco" class="form-control" />
    </div>

    <div>
        <label>Número de contato:</label>
        <InputNumber @bind-Value="novoAnunciante.numero" class="form-control" />
    </div>

    <div>
        <label>Instagram:</label>
        <InputText @bind-Value="novoAnunciante.instagram" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</EditForm>

@if (mensagem != null)
{
    <p>@mensagem</p>
}

@code {
    private AnuncianteModel novoAnunciante = new AnuncianteModel();
    private string? mensagem;

    protected override async Task OnInitializedAsync()
    {
    }


    // private async Task Cadastrar(){
    //     var novoAnunciante = new
    //     {
    //         nome = "Dr.fdsfdsfds",
    //         titulo = "url-da-foto.jpg",
    //         descricao = "Dentista especializado em ortodontia.",
    //         endereco = "Rua A, 123, Bairro X",
    //         numero = "(11) 1234-5678",
    //         instagram = "jaodasilva",
    //     };
    //     await FirestoreService.AddAnunciante(novoAnunciante);
    // }

    private async Task Cadastrar()
    {
        await FirestoreService.AddAnunciante(novoAnunciante);
        mensagem = "Anunciante cadastrado com sucesso!";
        novoAnunciante = new AnuncianteModel(); // Limpa o formulário
    }

    public class AnuncianteModel
    {
        public string nome { get; set; } = "";
        public string titulo { get; set; } = "";
        public string descricao { get; set; } = "";
        public string endereco { get; set; } = "";
        public int numero { get; set; } = 0;
        public string instagram { get; set; } = "";
    }
}